<!DOCTYPE html>
<html ng-app='root'>
	<head>
		<meta charset='utf-8'>
		<title>My Angular App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	</head>
	<body>
		<div ng-controller="index">
			<p>{{message}}</p>
			<p>First Name: <input type='text' ng-model='fname' /></p>
			<p>Last Name: <input type='text' ng-model='lname' /></p>
			<button ng-click="add()">Submit</button>
			<p>My friends are:</p>
			<p ng-repeat="person in names | orderBy: person">{{listName(person.fname, person.lname)}}</p>
		</div>
		<div ng-init="list = [{name:'Scott', age: 29}, {name:'James',age:22}]">
			<ul>
				<li ng-repeat="item in list">{{item.name}} - {{item.age}}</li>
			</ul>
		</div>
		<script src="root.js"></script>
	</body>
</html>