<!DOCTYPE html>
<html ng-app='root'>
	<head>
		<meta charset='utf-8'>
		<title>My Angular App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	</head>
	<body>
		<div ng-controller="index">
			<p>{{message}}</p>
			<p>Name: <input placeholder="Ex: Jane" type='text' ng-model='name' /></p>
			<p>My name is {{name}}</p>
			<p>My friends are:</p>
			<p ng-repeat="person in names">{{person}}</p>
		</div>
		<script src="root.js"></script>
	</body>
</html>